extends layout

include mixins/_tags

block content
    include includes/actions
    .row
        .mdl-card__content
            h1!= title || 'Blog'
            ul.blog-posts
                for post in getPosts()
                    if post.publish && !h.isFutureDate(post.date)
                        li.blog-post
                            a.no-decoration(href=`/post/${post.slug}`)
                                h3 #{post.title}
                                time #{h.prettifyDate(post.date)}

                            +tags(post.tags)
                        hr