doctype html
html
    head
        title= `${title || 'Blog'}`
        include meta
        include styles
    body
        .container.mdl-card.mdl-shadow--2dp
            block content
        script
            include ../script.js
        include includes/googleAnalytics
