extends layout

include mixins/_tags

block content
    if currentPath !== '/'
        a.back(href='/') Blog ➔
    .row
        .mdl-card__content
            if post.publish && !h.isFutureDate(post.date)
                h1 #{post.title}
                +tags(post.tags)
                p!= post.content
                