extends layout

include mixins/_tags

block content
    include includes/actions
    .row
        .mdl-card__content
            if post.publish && !h.isFutureDate(post.date)
                p!= h.prettifyDate(post.date)
                h1 #{post.title}
                +tags(post.tags)
                p!= post.content
                
    include includes/disqus