link(rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons")
link(rel="stylesheet" href="/css/bootstrap.min.css")
link(rel="stylesheet" href="/css/font-awesome.min.css")
link(rel="stylesheet" href="/css/material.min.css")
link(rel="stylesheet" href="/css/themes/default/styles.css")
