/* Variables */
:root {
    --bg-color: #E6E6E6;
    --primary-color: #ff5722;
    --primary-color-dark: #e64a19;
    --primary-color-light: #ffccbc;
    --icons-color: #FFFFFF;
    --accent-color: #009688;
    --primary-text: #212121;
    --secondary-text: #757575;
    --divider-color: var(--bg-color);
}

/* Layout & Typography */
body {
    background-color: var(--bg-color) !important;
}

p {
    font-size: 16px;
}

@media(min-width: 992px) {
    .container {
        width: 60% !important;
    }
}

@media(min-width: 768px) {
    .container {
        margin: 100px auto;
    }
}

strong {
    color: var(--primary-color);
}

/* Cards */
.mdl-card {
    width: 100%;
    border-top: 5px solid var(--primary-color);
}

.mdl-card__content {
    padding: 30px !important;
}

.mdl-card__content h1 {
    margin: 0;
}
.container a {
    transition: 0.2s;
    text-decoration: none;
    color: inherit;
}

.container a:hover, .container a:focus {
    transition: 0.2s;
    color: var(--primary-color);
    text-decoration: none;
}

.container .back {
    position: absolute;
    top: 10px;
    right: 10px;
}

ul.blog-posts, ul.blog-tags {
    padding: 0;
}

ul.blog-posts li.blog-post, ul.blog-tags li.blog-tag  {
    list-style: none;
}

ul.blog-posts li.blog-post {
    margin: 20px 0;
}

ul.blog-tags li.blog-tag {
    background-color: var(--primary-color-light);
    display: inline-block;
    padding: 0px 7px;
    margin: 0 10px 0 0;
}

ul.blog-posts li.blog-post a {
    display: flex;
    align-items: baseline;
    flex-wrap: wrap;
}

ul.blog-posts li.blog-post a h3, ul.blog-posts li.blog-post a p {
    display: inline-block;
    margin: 0;
}

ul.blog-posts li.blog-post p {
    padding-left: 10px;
}

ul.blog-posts li.blog-post time {
    margin-left: auto;
}